version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: pcb_pkl_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - iot_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  mosquitto:
    image: eclipse-mosquitto:2
    container_name: pcb_pkl_mosquitto
    restart: always
    # HAPUS command python disini! Biarkan dia jalan sebagai broker murni.
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    networks:
      - iot_network

  backend:
    build: .
    container_name: pcb_pkl_backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - iot_network
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      postgres:
        condition: service_healthy
      mosquitto:
        condition: service_started

  # --- TAMBAHKAN SERVICE BARU INI ---
  mqtt_worker:
    build: .  # Kita pakai image yang sama dengan backend (ada python & library-nya)
    container_name: pcb_pkl_mqtt_worker
    restart: always
    # Pastikan path file-nya benar. Tadi kita buat di app/mqtt_worker.py
    command: python app/mqtt/mqtt_worker.py
    environment:
      - PYTHONPATH=/app
    env_file:
      - .env
    networks:
      - iot_network
    depends_on:
      postgres:
        condition: service_healthy
      mosquitto:
        condition: service_started

volumes:
  postgres_data:

networks:
  iot_network:
    driver: bridge