name: Deploy API-PCB to VPS

on:
  push:
    branches:
      - main # Akan berjalan otomatis setiap ada push ke branch main
    # paths:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Kode
        uses: actions/checkout@v3

      - name: Copy file ke VPS via SCP
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "."
          target: "/opt/api-pcb"

      - name: Jalankan Docker Compose di VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /opt/api-pcb
            
            # 1. Pastikan folder dan file Mosquitto tersedia
            mkdir -p mosquitto/log mosquitto/data mosquitto/config
            touch mosquitto/log/mosquitto.log
            touch mosquitto/config/passwd
            
            # 2. Kembalikan hak milik dan amankan file dari warning
            chown -R 1883:1883 mosquitto
            chmod 0700 mosquitto/log/mosquitto.log
            chmod 0700 mosquitto/config/passwd
            
            # 3. Suntikkan file .env dari brankas rahasia
            cat << 'EOF' > .env
            ${{ secrets.ENV_FILE }}
            EOF
            
            # 4. Restart Docker pakai mode Production (abaikan file override)
            docker compose -f docker-compose.yml down
            docker compose -f docker-compose.yml up -d --build