name: Deploy API-PCB to VPS

on:
  push:
    branches:
      - main # Akan berjalan otomatis setiap ada push ke branch main
    # paths:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Kode
        uses: actions/checkout@v3

      - name: Copy file ke VPS via SCP
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "."
          target: "/opt/api-pcb"

      - name: Jalankan Docker Compose di VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /opt/api-pcb
            
            # 1. Pastikan folder tersedia
            mkdir -p mosquitto/log mosquitto/data mosquitto/config
            touch mosquitto/log/mosquitto.log
            
            # 2. Suntikkan file .env dan HAPUS karakter siluman Windows (\r)
            cat << 'EOF' | tr -d '\r' > .env
            ${{ secrets.ENV_FILE }}
            EOF
            
            # 3. Ambil Username & Password dari file .env yang sudah bersih
            M_USER=$(grep MQTT_USER .env | cut -d '=' -f2)
            M_PASS=$(grep MQTT_PASSWORD .env | cut -d '=' -f2)
            
            # 4. Generate file passwd beneran
            docker run --rm -v /opt/api-pcb/mosquitto/config:/mosquitto/config eclipse-mosquitto mosquitto_passwd -c -b /mosquitto/config/passwd $M_USER $M_PASS
            
            # 5. Amankan file dan reset kepemilikan
            chown -R 1883:1883 mosquitto
            chmod 0700 mosquitto/log/mosquitto.log
            chmod 0700 mosquitto/config/passwd
            
            # 6. Restart Docker
            docker compose -f docker-compose.yml down
            docker compose -f docker-compose.yml up -d --build